* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 412px;
  margin: 0 auto;
  width: 100%;
  height: 100dvh;
  overflow-x: hidden;
  font-family: 'Zilla Slab', sans-serif !important;
}

.container {
  max-width: 295px;
  margin: 0 auto;
  width: 100%;
}

button {
  cursor: pointer;
}
.vuejs3-datepicker__value {
  min-width: 100% !important;
}
.vuejs3-datepicker__calendar-topbar {
  background-color: var(--red-color) !important ;
}
.vuejs3-datepicker__calendar .cell.selected {
  background: var(--red-color) !important ;
}
.vuejs3-datepicker__value {
  border: 1px solid var(--border-color) !important;
}

.vs__dropdown-toggle {
  border-radius: 10px !important;
  border: 1px solid var(--border-color) !important;
  padding: 2px 15px !important;
}

.vs__search {
  padding: 8px 6px !important;
  font-size: 11.5px !important;
  color: var(--text-color) !important;
  opacity: 0.7;
}

.vs__selected {
  font-size: 12px !important;
}

.swiper-3d {
  perspective: 754px !important;
}
.n-base-select-menu .n-base-select-option.n-base-select-option--selected {
  color: var(--red-color) !important;
}
.n-base-select-menu .n-base-select-option .n-base-select-option__check {
  color: var(--red-color) !important;
}
.n-base-select{
  color: var(--red-color) !important;
}
.n-base-select-option--pending {
  color: var(--text-color) !important;
}
.n-base-select-menu{
  margin-right: 20px !important;
}